
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Candidates <small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Candidates</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- <div class="row">

			<div class="col-lg-3 col-xs-6">

				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>10</h3>
						<p>Total count</p>
					</div>
					<a href="#" class="small-box-footer">More info <i
						class="fa fa-arrow-circle-right"></i>
					</a>
				</div>


			</div>

			<div class="col-lg-3 col-xs-6">

				<div class="small-box bg-green">
					<div class="inner">
						<h3>3</h3>
						<p>Total Selected</p>
					</div>
					<a href="#" class="small-box-footer">More info <i
						class="fa fa-arrow-circle-right"></i>
					</a>
				</div>


			</div>

			<div class="col-lg-3 col-xs-6">

				<div class="small-box bg-red">
					<div class="inner">
						<h3>3</h3>
						<p>Total Rejected</p>
					</div>
					<a href="#" class="small-box-footer">More info <i
						class="fa fa-arrow-circle-right"></i>
					</a>
				</div>


			</div>

			<div class="col-lg-3 col-xs-6">

				<div class="small-box bg-orange">
					<div class="inner">
						<h3>3</h3>
						<p>Total Candidates</p>
					</div>
					<a href="#" class="small-box-footer">More info <i
						class="fa fa-arrow-circle-right"></i>
					</a>
				</div>


			</div>


		</div> -->

		<div class="row">
			<div class="col-md-8">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Candidates</h3>

						<div class="box-tools pull-right">

							<input type="text" class="form-control" placeholder="search"
								ng-model="cSearch" />
							<!-- 
						<a href="javascript:void(0)"
							class="btn btn-sm btn-flat btn-info">New</a> -->

							<!-- <button type="button" class="btn btn-sm btn-flat btn-info" ng-click="newSchedule()">New</button> -->
							<!-- &nbsp;
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button> -->


						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive" ng-controller="candidateController">
							<table class="table table-striped">
								<tbody>
									<tr>
										<th>Id</th>
										<th>Name</th>
										<th>Email</th>
										<th>Contact Number</th>
									</tr>

									<tr ng-show="candidates.length>0"
										ng-repeat="candidate in candidates|filter:cSearch" current-page="currentPage">
										<td><a href="" ng-click="show(candidate)">{{candidate.candidateId}}</a></td>
										<td>{{candidate.firstName+" "+candidate.lastName}}</td>
										<td>{{candidate.emailId}}</td>
										<td>{{candidate.contactNumber}}</td>
									</tr>

									<tr ng-show="candidates.length==0">
										<td colspan="4"><h4 class="lead text-center">No
												Candidates Available</h4></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.box-body -->
					<div class="box-footer clearfix">

						<div class=" intput-group pull-left">
							
							<label class="">No of Results : </label>
							
							 <select
								class="">
								<option name="2" value="2">2</option>
								<option name="10" value="20">10</option>
								<option name="20">20</option>
							</select>
							
						</div>

						 
					</div>
					<!-- /.box-footer -->
				</div>

			</div>

			<div class="col-md-4">
				<div class="box box-default">
					<div class="box-header with-border">
						<h3 class="box-title">Legend</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-8">
								<div class="chart-responsive">
									<canvas id="pieChart" height="202" width="197"
										style="width: 158px; height: 162px;"></canvas>
								</div>
								<!-- ./chart-responsive -->
							</div>
							<!-- /.col -->
							<div class="col-md-4">
								<ul class="chart-legend clearfix">
									<li><i class="fa fa-circle-o text-green"></i>Selected</li>
									<li><i class="fa fa-circle-o text-red"></i>Rejected </li>
									<li><i class="fa fa-circle-o text-yellow"></i>Total</li>
									
								</ul>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
					
					<!-- /.footer -->
				</div>
			</div>

		</div>

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
