<div class="modal fade">
	<div class="modal-dialog" ng-controller="modalController">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close('cancel')"
					data-dismiss="modal" aria-hidden="true">X</button>

				<div class="modal-title">
					<h4>{{title}}</h4>
					<!-- <input type="checkbox" ng-model="isEnabled" checked="false"/> -->
				</div>

			</div>
			<div class="modal-body">
				<!-- <section class="content">
					<div class="row">
						<div class="col-md-12">

							<div class=""> -->
				<!-- <div class="box-header with-border">
						<h3 class="box-title">New Candidate</h3>
					</div> -->
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal">
					<div class="box-body">

						<div class="well col-md-12">

							<div class="form-group">
								<label for="cName" class="col-sm-2 col-md-2 control-label">First
									Name</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="firstName"
										placeholder="First Name" ng-model="candidate.firstName"
										ng-disabled="isEnabled" />

								</div>

								<label for="lastName" class="col-sm-2 control-label">Last
									Name</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="lastName"
										placeholder="Last Name" ng-model="candidate.lastName"
										ng-disabled="isEnabled" />
								</div>

							</div>

							<div class="form-group">

								<label for="cId" class="col-sm-2 control-label">Candidate
									Id</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="cId"
										placeholder="candidate id" ng-model="candidate.candidateId"
										ng-disabled="isEnabled" />
								</div>



								<label class="col-sm-2 control-label">Contact Number</label>

								<div class="col-sm-4">
									<input type="text" class="form-control" id="contactNumber"
										placeholder="contact number"
										ng-model="candidate.contactNumber" ng-disabled="isEnabled" />
								</div>

							</div>

							<div class="form-group">

								<label for="emailId" class="col-sm-2 control-label">Candidate
									Email</label>

								<div class="col-sm-4">
									<input type="email" class="form-control" id="emailId"
										placeholder="Email" ng-model="candidate.emailId"
										ng-disabled="isEnabled" />
								</div>


							</div>

						</div>

						<div class=" well col-md-12" ng-controller="newScheduleController">

							<!-- enable only if there are no schedules for the candidate. -->
							<div class="row" ng-show="!showToggle">
								<input type="hidden" value="{{showToggle}}" />
								<div class="col-sm-12 col-md-12">

									<br />
									<div class="form-group">
										<label class="col-sm-2 control-label">Schedule Date</label>

										<div class=" date col-sm-4">

											<input type="text" class="form-control pull-right datepicker"
												ng-disabled="isEnabled" ng-model="schedule.date" />

										</div>


										<label for="time" class="col-sm-2 control-label">Time</label>
										<div class="col-sm-4">

											<select class="" id="hours" ng-disabled="isEnabled"
												ng-model="schedule.time.hours">
												<option ng-repeat="i in [1,12]|inRange">{{i}}</option>
											</select> <select class="" id="mins" ng-disabled="isEnabled"
												ng-model="schedule.time.mins">

												<option ng-repeat="i in [00,59]|inRange">{{i}}</option>
											</select> <select name="am_pm" class="" id="am_pm"
												ng-disabled="isEnabled" nd-model="schedule.time.am_pm">
												<option id="am">AM</option>
												<option id="pm">PM</option>
											</select>

										</div>


									</div>

								</div>

								<div class="col-sm-12 col-md-12">

									<div class="form-group">

										<label for="location" class="col-sm-2 control-label">Location</label>

										<div class="col-sm-4">
											<input type="text" id="location" class="form-control"
												placeholder="location" ng-disabled="isEnabled" />
										</div>


										<!-- 
									<div class="col-sm-4"> -->
										<label for="medium" class="col-sm-2 control-label">Medium</label>
										<div class="col-sm-4">
											<select name="medium" class="form-control" id="medium"
												ng-disabled="isEnabled">
												<option id="in_person" value="in_person">In Person</option>
												<option id="skype" value="skype">Skype</option>
											</select>
										</div>
										<!-- </div>
									 -->
									</div>

								</div>


								<div class="col-sm-12 col-md-12">

									<div class="form-group">

										<label for="notes" class="col-sm-2 control-label">Notes</label>

										<div class="col-sm-10">
											<textarea class="form-control" rows="5" cols="20" id="notes"
												name="notes" ng-model="schedule.notes"></textarea>
										</div>

									</div>

								</div>


								<div class="col-sm-4">
									<button class="btn btn-sm btn-danger"
										ng-click="showScheduleForm()">Cancel</button>
								</div>


							</div>

							<div class="row" ng-show="showToggle">
								<div class="col-md-12">
									<div class="box box-info">
										<div class="box-header with-border">
											<h3 class="box-title">Schedule List</h3>

											<div class="box-tools pull-right">
												<button class="btn btn-sm btn-success"
													ng-click="showScheduleForm()">New</button>
											</div>
										</div>
										<!-- /.box-header -->
										<div class="box-body">
											<div class="table-responsive"
												ng-controller="newScheduleController">
												<table class="table table-striped">
													<tbody>
														<tr>
															<th>Date</th>
															<th>Time</th>
															<th>Location</th>
															<th>Medium</th>
															<th>Controls</th>
														</tr>

														<tr ng-show="schedules.length>0"
															ng-repeat="schedule in schedules">
															<td>{{schedule.date}}</td>
															<td>{{schedule.time.hours+":"+schedule.time.mins+"
																"+schedule.time.am_pm}}</td>
															<td>{{schedule.location}}</td>
															<td>{{schedule.medium}}</td>
															<td><div class="button-group">
																	<button class="btn btn-sm btn-default"
																		ng-click="edit(schedule)">Edit</button>
																	<button class="btn btn-sm btn-default"
																		ng-click="delete(schedule)">Delete</button>
																	<button class="btn btn-sm btn-default"
																		ng-click="showNotes(schedule)">View Notes</button>
																</div></td>
														</tr>

														<tr ng-show="schedules.length==0">
															<td colspan="4"><h4 class="lead text-center">No
																	Schedules Available. Click New to create one.</h4></td>
														</tr>
													</tbody>
												</table>
											</div>
											<!-- /.table-responsive -->
										</div>
										<!-- /.box-body -->

										<!-- /.box-footer -->


									</div>

								</div>
								<div class="row" style="padding:15px">
									<div class="col-md-12 col-sm-12">
										<div class="panel panel-info">

											<div class="panel-heading">
												<h4>Notes</h4>
											</div>

											<div class="panel-body">
												<p id="notes">This where your notes appear</p>
											</div>

										</div>

									</div>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" ng-click="close('cancel')">Cancel</button>
							<button type="button" class="btn btn-info" ng-click="edit()"
								ng-disabled="!isEnabled">Edit</button>

							<button type="button" class="btn btn-success pull-right"
								ng-click="submit()" ng-disabled="isEnabled">{{btn_text}}</button>
						</div>
						<!-- /.box-footer -->
				</form>
				<!-- </div>

						</div> -->
				<!-- /.row -->
				<!-- </section> -->


				<!-- Page script -->
				<script>
					$(function() {
						//Date picker
						$('.datepicker').datepicker({
							autoclose : true
						});

					});
				</script>
			</div>
		</div>
	</div>
</div>